@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.info.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.info.legend h4 {
  margin: 0 0 5px;
  color: #777;
}

.info.legend div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info.legend img {
  margin-right: 5px;
}

.leaflet-popup-content {
  max-height: 300px;
  overflow-y: auto;
}

.leaflet-popup-content h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.leaflet-popup-content p {
  margin: 5px 0;
}

.leaflet-popup-content strong {
  font-weight: bold;
}

html, body, #__next {
  height: 100%;
}

/* Add these styles at the end of your globals.css file */

.gm-style-iw {
  padding: 10px;
}

.gm-style-iw h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.gm-style-iw p {
  margin: 0;
}
